* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.2vw;
}

a {
  color: black;
}

.header {
  background-color: #283f51;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.header-title {
  padding: 1.5rem;
  font-size: 1.7em;
  border-top: 0.5vh solid #5b7e79;
}

.header-title-container {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  /* border: 1px solid red; */
  font-size: 3vw;
}

.header-date-nav-wrapper {
  /* border: 1px solid blue; */
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
}

.header-date-cite {
  color: #5b7e79;
  /* border: 1px solid salmon; */
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.4em;
}

.header-nav {
  /* border: 1px solid green; */
  padding: 0.3em 0 0.3em 0.3em;
}

.nav-ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.nav-ul a {
  color: white;
}

.nav-ul li {
  display: inline;
  padding: 1em 0 1em 1em;
  font-weight: bolder;
}

.speaker-section {
  background: #43c6ac; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f3f7ca,
    #76b6a9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f3f7ca,
    #76b6a9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid pink; */
}

.speaker-section-header {
  padding: 1.5em 0.5em 0em 0.5em;
  /* border: 1px solid yellow; */
  text-align: center;
  font-size: 2em;
  color: #6b8f85;
}

.speaker-section-paragraph {
  /* padding: 2em 0.5em; */
  padding: 1em 0.5em 2em 0.5em;
  line-height: 1.6;
  /* border: 1px solid brown; */
  text-align: center;
  font-size: 1.2em;
  color: #817d82;
}

.main-section {
  /* border: 1px solid crimson; */
}

.post {
  /* border: 1px solid blue; */
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.article-content {
  display: column;
  direction: column;
  /* border: 1px solid lightseagreen; */
  padding: 1em 1em 0 1em;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
}

.article-content h2 {
  /* border: 1px solid red; */
  padding: 0.5rem 0.5rem 0.5rem 0;
  color: #5b7e79;
  font-family: "Raleway", sans-serif;
}

.article-content h5 {
  font-family: "Raleway", sans-serif;
  font-family: "Nunito", sans-serif;
  /* border: 1px solid green; */
  padding: 0.5rem 0.5rem 0.5rem 0;
  color: #a2acb4;
}

.article-content div {
  /* border: 1px solid pink; */
  margin-top: 0.5rem;
  padding: 0.5em 0.5em 0 0;
  display: flex;
  direction: row;
  justify-content: space-around;
}

.article-content-p {
  /* border: 1px solid cyan; */
}
.p-content {
  width: 70%;
  font-family: "Raleway", sans-serif;
  padding: 0.5em 1em 0 0;
  color: #6e6e6e;
  padding: 1em 2em 1em 0;
}

.p-email {
  width: 30%;
  padding: 1rem;
  text-align: center;
}

.p-email a {
  color: #4e796f;
  border: 1px solid rgb(187, 187, 187);
  padding: 2em 2em;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  white-space: pre-line;

  display: inline-block;
}

.article-about {
  /* border: 1px solid yellow; */
  margin-top: 0.5em;
  padding: 0 1em 1.5em 1em;
  width: 80%;
  margin: 0 auto;
}

.article-about-h5 {
  /* margin-top: 2rem; */
  /* border: 1px solid darkblue; */
  padding: 0.3em 0.3em 0.3em 0;
  color: #a8b1b9;
  font-family: "Raleway", sans-serif;
  font-family: "Nunito", sans-serif;
}

.article-about-paragraph {
  /* border: 1px solid #fa2; */
  padding: 0.3em 0.3em 0.3em 0;
  margin-top: 1em;
  width: 70%;
  font-family: "Raleway", sans-serif;
  color: #6e6e6e;
}

.footer {
  background-color: #283f51;
  display: flex;
  direction: row;
  justify-content: space-between;
  padding: 0.5em;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid cyan; */
  display: flex;
  flex-flow: row-wrap;
}

.footer-div {
  color: #76948f;
  /* border: 1px solid white; */
  width: 50%;
  padding: 2em 2em 2em 1em;
}

.footer-sapn {
  /* border: 1px solid pink; */
  margin-left: 0.6em;
}

.footer-nav {
  /* border: 1px solid red; */
  color: white;
  width: 50%;
  padding: 2em 0;
}

.footer-nav ul {
  display: flex;

  flex-flow: row nowrap;
  /* border: 1px solid #f8ffae; */
  width: 100%;

  margin-left: 7.6em;
  float: right;
  justify-content: flex-end;
  text-align: right;
}

.footer-nav ul li {
  display: inline;
  /* border: 1px solid pink; */
  margin: 0 1em;
}

/**********
**********/

@media only screen and (max-width: 1100px) {
  * {
    font-size: 1.6vw;
  }
  body {
    padding: 0;
    margin: 0;
  }

  .p-email {
    width: 40%;
    padding: 2rem;
    text-align: center;
  }

  .p-email a {
    text-align: center;
    font-size: 1.5vw;
  }
}

/**********
**********/

@media only screen and (max-width: 414px) {
  * {
    font-size: 1.4vw;
  }
  body {
    background-color: white;
    padding: 0;
    margin: 0;
    font-size: 2vw;
  }

  main {
    display: flex;
    flex-flow: column wrap;
    /* height: 100rem; */
  }

  header {
    height: 100rem;
    flex-flow: column wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .header-title {
    width: 100%;
    border-bottom: 0.5vh solid #5b7e79;
    height: 40%;
    /* text-align: center; */
    padding: 0;
  }

  .header-title-container {
    /* border: 1px solid #2af; */
    height: 100%;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    padding-top: 12rem;
    font-size: 10vw;
  }

  .header-date-nav-wrapper {
    width: 100%;
    /* border: 1px solid red; */
    height: 60%;
    display: flex;
    flex-flow: column wrap;
    /* justify-content: space-between; */
  }

  .header-date-cite {
    /* border: 1px solid #fa2; */
    height: 20%;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-size: 7vw;
    padding-top: 0.8em;
  }

  .header-date-cite > * {
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-size: 4vw;
    text-align: center;
    /* border: 1px solid blue; */
  }

  .header-nav {
    /* border: 1px solid green; */
    height: 80%;
    display: flex;
    flex-flow: column wrap;
  }

  .nav-ul {
    display: flex;
    flex-flow: column wrap;
    /* border: 1px solid salmon; */
    height: 100%;
    padding: 0.4em 0;
    justify-content: space-evenly;
  }
  .nav-ul a {
    color: white;
    font-size: 4vw;
    font-family: "Lato", sans-serif;
    font-weight: normal;
  }

  .nav-ul li {
    display: block;
    width: 100%;
    padding: 0;
    font-weight: bolder;
    /* border: 1px solid palegoldenrod; */
    text-align: center;
  }

  .speaker-section {
    height: 35rem;
    font-size: 3vw;
    /* border: 1px solid blue; */
  }

  .speaker-section-header {
    font-size: 5vw;
    text-align: center;
    /* border: 1px solid red; */
    height: 40%;
  }

  .speaker-section-paragraph {
    height: 60%;
    text-align: center;
    padding: 0 4rem;
    /* border: 1px solid green; */
  }

  .main-section {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
  }

  .post {
    margin: 0;
    width: 100%;
    padding: 0;
    height: 92rem;
    /* border: 1px solid red; */
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    /* margin-bottom: 2rem; */
  }

  .article-content {
    width: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    /* border: 1px solid yellow; */
    text-align: left;
  }

  .article-content > * {
    width: 100%;
    /* border: 1px solid green; */
  }

  .article-content h2 {
    font-size: 4vw;
    padding: 1em 0 0.5em 0;
    padding-left: 1rem;
  }

  .article-content h5 {
    font-size: 3vw;
    padding-left: 1rem;
  }

  .article-content-main-section {
    display: flex;
    height: 50rem;
    padding: 0;
    margin: 0;
    flex-flow: column wrap;
    /* border: 1px solid green; */
    justify-content: flex-start;
  }

  .article-content-p {
    width: 100%;
    padding: 0;
    margin: 0;
    /* border: 1px solid blue; */
    padding-left: 1rem;
  }

  .p-content {
    font-size: 3.5vw;
  }

  .p-email {
    text-align: left;
  }

  .p-email a {
    width: 30%;
    font-size: 2vw;
  }

  .article-about {
    /* border: 1px solid blue; */
    /* padding: 3rem; */
    margin: 0;
    width: 100%;
    height: 25rem;
  }

  .article-about-h5 {
    font-size: 3vw;
    /* border: 1px solid pink; */
    padding-left: 1rem;
  }

  .article-about-paragraph {
    font-size: 3.5vw;
    /* border: 1px solid green; */
    width: 100%;
    margin-top: 0.3rem;
    padding-left: 1rem;
  }

  .footer-div {
    text-align: left;
    width: 100%;
    height: 50%;
  }

  .footer-nav {
    width: 100%;
    height: 50%;
  }

  .footer-span {
    font-size: 2.5vw;
    padding: 0 1rem;
  }

  .wrapper {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  }

  .fo-part {
    width: 100%;
  }

  footer {
    height: 17rem;
    display: flex;
    flex-flow: column wrap;
    /* border: 1px solid gray; */
  }

  .footer-ul > * {
    display: block;
    font-size: 2.7vw;
    padding-right: 1rem;
  }
}
